@model EP_RODRIGUEZ.ViewModel.RemesasViewModel

@{
    ViewData["Title"] = "Formulario de Remesas";
}

<div class="container">
    <h1 class="text-center mb-4">Formulario de Remesas</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Remesas" asp-action="Crear" method="post">
                <div class="form-group">
                    <label asp-for="FormRemesas.NombreR" class="control-label">Nombre del Remitente</label>
                    <input asp-for="FormRemesas.NombreR" class="form-control" />
                </div><br>
                <div class="form-group">
                    <label asp-for="FormRemesas.NombreD" class="control-label">Nombre del Destinatario</label>
                    <input asp-for="FormRemesas.NombreD" class="form-control" />
                </div><br>
                <div class="form-group">
                    <label asp-for="FormRemesas.Origen" class="control-label">País de Origen</label>
                    <input asp-for="FormRemesas.Origen" class="form-control" />
                </div><br>
                <div class="form-group">
                    <label asp-for="FormRemesas.Destino" class="control-label">País de Destino</label>
                    <input asp-for="FormRemesas.Destino" class="form-control" />
                </div><br>
                <div class="form-group">
                    <label asp-for="FormRemesas.Monto" class="control-label">Monto Enviado</label>
                    <input asp-for="FormRemesas.Monto" class="form-control" type="number" step="0.01" />
                </div><br>
                <div class="form-group">
                    <label asp-for="FormRemesas.TipoM" class="control-label">Tipo de Moneda</label>
                    <select asp-for="FormRemesas.TipoM" class="form-control">
                        <option value="USD">USD</option>
                        <option value="BTC">BTC</option>
                    </select>
                </div><br>
                <div class="form-group">
                    <label asp-for="FormRemesas.Tasa" class="control-label">Tasa de Cambio</label>
                    <input asp-for="FormRemesas.Tasa" class="form-control" type="number" step="0.0001" />
                </div><br>
                <div class="form-group">
                    <label asp-for="FormRemesas.MontoF" class="control-label">Monto Final</label>
                    <input asp-for="FormRemesas.MontoF" class="form-control" type="number" step="0.01" />
                </div><br>
                <div class="form-group">
                    <label asp-for="FormRemesas.EstadoT" class="control-label">Estado de la Transacción</label>
                    <select asp-for="FormRemesas.EstadoT" class="form-control">
                        <option value="Pendiente">Pendiente</option>
                        <option value="Completada">Completada</option>
                        <option value="Cancelada">Cancelada</option>
                    </select>
                </div><br>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Crear Remesa</button>
                </div>
            </form>
            <h1>@ViewData["Message"]</h1>
        </div>
        <br>

        <div>
            <h1 class="text-center mb-4">Formulario de Remesas</h1>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre del Remitente</th>
                            <th>Nombre del Destinatario</th>
                            <th>País de Origen</th>
                            <th>País de Destino</th>
                            <th>Monto Enviado</th>
                            <th>Moneda</th>
                            <th>Tasa de Cambio</th>
                            <th>Monto Final</th>
                            <th>Estado de Transacción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListRemesas != null)
                        {
                            @foreach (var item in Model.ListRemesas)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.NombreR)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NombreD)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Origen)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Destino)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Monto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TipoM)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Tasa)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MontoF)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EstadoT)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>